@using EntityLayer.Entities
@model List<Project>
<div class="vg-page page-portfolio" id="portfolio">
	<div class="container">
		<div class="text-center wow fadeInUp">
			<div class="badge badge-subhead">Portfolio</div>
		</div>
		<h1 class="text-center fw-normal wow fadeInUp">See my work</h1>
		<div class="gridder my-3">
			@foreach (var item in Model)
			{
				<div class="grid-item apps wow zoomIn">
					<div class="img-place" data-src="@item.PictureUrl" data-fancybox data-caption="<h5 class='fg-theme'>@item.ProjectName</h5> <p>@item.FileName</p>">
						<img src="@item.PictureUrl" alt="">
						<div class="img-caption">
							<h5 class="fg-theme">@item.ProjectName</h5>
							<a href="@item.ProjectUrl">GitHub</a>
						</div>
					</div>
				</div>
			}
		</div> <!-- End gridder -->
	</div>
</div>

