@using EntityLayer.Entities
@model List<Education>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<table class="table table-bordered" style="margin-top:20px;margin-left:20px;margin-right:20px">
	<tr>
		<th>University</th>
		<th>Profession</th>
		<th>BeginDate</th>
		<th>EndDate</th>
		<th>Description</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.University</td>
			<td>@item.Profession</td>
			<td>@(((DateTime)@item.BeginDate).ToString("dd MMMM yyyy"))</td>
			<td>@(((DateTime)@item.EndDate).ToString("dd MMMM yyyy"))</td>
			<td>@item.Description</td>
			<td>
				<a href="/Admin/Education/Delete/@item.Id" class="btn btn-danger">Delete</a>
				<a href="/Admin/Education/GetEduInfo/@item.Id" class="btn btn-success">Update</a>
			</td>
		</tr>
	}
</table>
<a href="/Admin/Education/AddEdu" class="btn btn-primary">Add New Education</a>

